In [1]:
import pandas as pd
import pandasql as ps
import calendar

In [2]:
df_cust = pd.read_excel('customer.xlsx')
df_order = pd.read_excel('order.xlsx')
df_prod = pd.read_excel('product.xlsx')
df_prod_cat = pd.read_excel('product_category.xlsx')

In [3]:
df_cust.head()

,CustomerID,FirstName,LastName,CustomerEmail,CustomerPhone,CustomerAddress,CustomerCity,CustomerState,CustomerZip
0,1,Grazia,Rasmus,grasmusas@i2i.jp#mailto:grasmusas@i2i.jp#,(202) 577-2595,628 Buhler Junction,Washington,District of Columbia,20029
1,2,Bunny,Trevan,btrevanmj@wordpress.org#mailto:btrevanmj@wordp...,917-903-2827,52 Cascade Drive,Jamaica,New York,11436
2,3,Tracie,Grayston,tgrayston7k@pagesperso-orange.fr#mailto:tgrays...,404-868-2391,672 Comanche Way,Atlanta,Georgia,30343
3,4,Amerigo,Garrelts,agarrelts6e@oaic.gov.au#mailto:agarrelts6e@oai...,415-190-3290,8252 Village Green Hill,San Francisco,California,94177
4,5,Shea,Stronghill,sstronghillc1@google.nl#mailto:sstronghillc1@g...,432-775-7828,542 3rd Point,Midland,Texas,79705

In [4]:
df_order.head()

   OrderID       Date  CustomerID ProdNumber  Quantity
0        1 2020-01-01        1866      EB514         2
1        2 2020-01-01        1567      RS706         3
2        3 2020-01-01        2064      TV804         6
3        4 2020-01-01         287      DK203         1
4        5 2020-01-01         422      EB517         5

In [5]:
df_prod.head()

  ProdNumber                       ProdName  Category  Price
0      BP101       All Eyes Drone Blueprint         1   9.99
1      BP102        Bsquare Robot Blueprint         1   8.99
2      BP104            Cat Robot Blueprint         1   4.99
3      BP105  Creature Robot Arms Blueprint         1  12.00
4      BP106     Hexacopter Drone Blueprint         1   8.99

In [6]:
df_prod_cat.head()

   CategoryID CategoryName CategoryAbbreviation
0           1   Blueprints                   BP
1           2   Drone Kits                   DK
2           3       Drones                   DS
3           4       eBooks                   EB
4           5   Robot Kits                   RK

In [7]:
join_data = ps.sqldf('''
                        SELECT 
                            a.Date, 
                            d.CustomerID, 
                            d.FirstName, 
                            d.LastName, 
                            d.CustomerEmail,
                            d.CustomerPhone,
                            d.CustomerAddress,
                            d.CustomerCity,
                            d.CustomerState,
                            d.CustomerZip,
                            c.CategoryName,
                            b.ProdName,
                            SUM(a.Quantity) Quantity,
                            SUM(b.Price) Price
                        FROM df_order a
                        JOIN df_prod b on a.ProdNumber = b.ProdNumber
                        JOIN df_prod_cat c on b.Category = c.CategoryID
                        JOIN df_cust d on a.CustomerID = d.CustomerID
                        GROUP BY  
                            a.Date, 
                            d.CustomerID, 
                            d.FirstName, 
                            d.LastName, 
                            d.CustomerEmail,
                            d.CustomerPhone,
                            d.CustomerAddress,
                            d.CustomerCity,
                            d.CustomerState,
                            d.CustomerZip,
                            c.CategoryName,
                            b.ProdName
            ''')

In [8]:
join_data

,Date,CustomerID,FirstName,LastName,CustomerEmail,CustomerPhone,CustomerAddress,CustomerCity,CustomerState,CustomerZip,CategoryName,ProdName,Quantity,Price
0,2020-01-01 00:00:00.000000,287,Elna,De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,Drone Kits,BYOD-220,1,69.00
1,2020-01-01 00:00:00.000000,422,Lucita,Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,eBooks,SCARA Robots,5,19.50
2,2020-01-01 00:00:00.000000,954,Llewellyn,Fromont,lfromonte9@de.vu#mailto:lfromonte9@de.vu#,205-279-7028,14 Rowland Lane,Birmingham,Alabama,35244,eBooks,Spherical Robots,5,16.75
3,2020-01-01 00:00:00.000000,1567,Terencio,McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,Robots,RWW-75 Robot,3,883.00
4,2020-01-01 00:00:00.000000,1866,Farrand,Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,eBooks,Polar Robots,2,23.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,2021-12-31 00:00:00.000000,582,Nancie,Motherwell,nmotherwello3@istockphoto.com#mailto:nmotherwe...,770-130-2276,73 Reinke Junction,Atlanta,Georgia,31119,Robot Kits,BYOR-1000,4,189.00
3332,2021-12-31 00:00:00.000000,625,Robinett,Cossum,rcossumba@devhub.com#mailto:rcossumba@devhub.com#,314-377-5588,226 Karstens Hill,Saint Louis,Missouri,63169,Drones,DC-304 Drone,5,395.00
3333,2021-12-31 00:00:00.000000,1214,Joey,Sumpner,jsumpner5u@google.com.au#mailto:jsumpner5u@goo...,786-405-4171,420 Transport Center,Miami,Florida,33169,Drones,MICR-564K Drone,3,499.00
3334,2021-12-31 00:00:00.000000,1225,Chelsy,Collop,ccollopoi@delicious.com#mailto:ccollopoi@delic...,412-943-7336,680 Bluestem Trail,Pittsburgh,Pennsylvania,15274,Training Videos,Understanding Automation,5,44.95
3335,2021-12-31 00:00:00.000000,1439,Robby,Drinkale,rdrinkale8z@tripod.com#mailto:rdrinkale8z@trip...,209-943-7338,2203 Fordem Center,Fresno,California,93721,Training Videos,Open Source Code,3,32.95

In [9]:
join_data['Day'] = join_data['Date'].str.slice(8, 10)
join_data['Month'] = join_data['Date'].str.slice(5, 7)
join_data['Year'] = join_data['Date'].str.slice(0, 4)

In [10]:
join_data

,Date,CustomerID,FirstName,LastName,CustomerEmail,CustomerPhone,CustomerAddress,CustomerCity,CustomerState,CustomerZip,CategoryName,ProdName,Quantity,Price,Day,Month,Year
0,2020-01-01 00:00:00.000000,287,Elna,De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,Drone Kits,BYOD-220,1,69.00,01,01,2020
1,2020-01-01 00:00:00.000000,422,Lucita,Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,eBooks,SCARA Robots,5,19.50,01,01,2020
2,2020-01-01 00:00:00.000000,954,Llewellyn,Fromont,lfromonte9@de.vu#mailto:lfromonte9@de.vu#,205-279-7028,14 Rowland Lane,Birmingham,Alabama,35244,eBooks,Spherical Robots,5,16.75,01,01,2020
3,2020-01-01 00:00:00.000000,1567,Terencio,McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,Robots,RWW-75 Robot,3,883.00,01,01,2020
4,2020-01-01 00:00:00.000000,1866,Farrand,Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,eBooks,Polar Robots,2,23.99,01,01,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,2021-12-31 00:00:00.000000,582,Nancie,Motherwell,nmotherwello3@istockphoto.com#mailto:nmotherwe...,770-130-2276,73 Reinke Junction,Atlanta,Georgia,31119,Robot Kits,BYOR-1000,4,189.00,31,12,2021
3332,2021-12-31 00:00:00.000000,625,Robinett,Cossum,rcossumba@devhub.com#mailto:rcossumba@devhub.com#,314-377-5588,226 Karstens Hill,Saint Louis,Missouri,63169,Drones,DC-304 Drone,5,395.00,31,12,2021
3333,2021-12-31 00:00:00.000000,1214,Joey,Sumpner,jsumpner5u@google.com.au#mailto:jsumpner5u@goo...,786-405-4171,420 Transport Center,Miami,Florida,33169,Drones,MICR-564K Drone,3,499.00,31,12,2021
3334,2021-12-31 00:00:00.000000,1225,Chelsy,Collop,ccollopoi@delicious.com#mailto:ccollopoi@delic...,412-943-7336,680 Bluestem Trail,Pittsburgh,Pennsylvania,15274,Training Videos,Understanding Automation,5,44.95,31,12,2021
3335,2021-12-31 00:00:00.000000,1439,Robby,Drinkale,rdrinkale8z@tripod.com#mailto:rdrinkale8z@trip...,209-943-7338,2203 Fordem Center,Fresno,California,93721,Training Videos,Open Source Code,3,32.95,31,12,2021

In [11]:
look_up = {'01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May',
            '06': 'Jun', '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'}

join_data['Month'] = join_data['Month'].apply(lambda x: look_up[x])
join_data.head()

,Date,CustomerID,FirstName,LastName,CustomerEmail,CustomerPhone,CustomerAddress,CustomerCity,CustomerState,CustomerZip,CategoryName,ProdName,Quantity,Price,Day,Month,Year
0,2020-01-01 00:00:00.000000,287,Elna,De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,Drone Kits,BYOD-220,1,69.00,01,Jan,2020
1,2020-01-01 00:00:00.000000,422,Lucita,Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,eBooks,SCARA Robots,5,19.50,01,Jan,2020
2,2020-01-01 00:00:00.000000,954,Llewellyn,Fromont,lfromonte9@de.vu#mailto:lfromonte9@de.vu#,205-279-7028,14 Rowland Lane,Birmingham,Alabama,35244,eBooks,Spherical Robots,5,16.75,01,Jan,2020
3,2020-01-01 00:00:00.000000,1567,Terencio,McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,Robots,RWW-75 Robot,3,883.00,01,Jan,2020
4,2020-01-01 00:00:00.000000,1866,Farrand,Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,eBooks,Polar Robots,2,23.99,01,Jan,2020

In [12]:
# file_name = 'new_transaction.xlsx'
# join_data.to_excel(file_name)